.leaflet-container {
  width: 100%;
  background-color: gray;
  height: 100vh;
  z-index: 0;
}

.leaflet-routing-container {
  display: none;
}

.ant-divider-inner-text {
  font-weight: 600;
  font-size: 1.2rem;
  cursor: default;
}

svg {
  vertical-align: baseline !important;
}
